{
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "ignorePatterns": [],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "plugins": [
        "@typescript-eslint",
        "jest"
    ],
    "rules": {
        "no-inferrable-types": 0,
        "space-before-function-paren": 0,
        "semi": 0,
        "padded-blocks": 0,
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
                "ignoredNodes": [
                    "Decorator",
                    "PropertyDefinition[decorators]",
                    "MethodDefinition[decorators] > Decorator"
                ]
            }
        ],
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/no-non-null-assertion": 0
    }
}